.Card-Container {
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card-Edit-Button-Container {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.Card-Edit-Button-Container h1{
    width: calc(100% - 35px);
    color: #003DA4;
    text-decoration: underline;
    font-weight: 200;
}

.Card-Edit-Button-Container img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.Card-Details-Short-Container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,31%);
    row-gap: 1rem;
    column-gap: 2rem;
    padding: 0 1rem 0.4rem;
}

.Card-Details-Short-Container > div {
    background-color: #f4f2f1;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    height: 3.5rem;
    border: 1px solid #cfcfcf;
}

.Card-Short-Details-Labels {
    color: #0093D5;
    font-weight: 400;
    width: 100%;
    text-overflow: ellipsis;
    padding-left: 0.4rem;
    padding-top: 0.3rem;
    font-size: 0.8rem;
}

.Card-Short-Details-Info {
    font-size: 1rem;
    padding-left: 0.4rem;
    width: 100%;
}

.Card-Long-Details-Semi {
    display: flex;
    width: 100%;
    height: 27.5%;
    padding:1rem;
    justify-content: space-between;
}

.Card-Long-Details-Semi > div {
    width: 47.5%;
    height: 100%;
    background-color: #f4f2f1;
    border-radius: 7.5px;
    border: 1px solid #cfcfcf;
}

.Card-Long-Details-Labels {
    color: #0093D5;
    font-weight: 400;
    width: 100%;
    text-overflow: ellipsis;
    padding-left: 0.4rem;
    padding-top: 0.3rem;
    font-size: 0.8rem;
}

.Notes-Container {
    display: flex;
    flex-direction: column;
    height: 35%;
    background-color: #f4f2f1;
    width: calc(95% + 1rem);
    border-radius: 7.5px;
    border: 1px solid #cfcfcf;
}

.Card-Long-Details-Info {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 0.4rem;
    margin-bottom: 0.45rem;
    border-radius: 7.5px;
    resize: none;
    white-space:pre-wrap;
    overflow-y: scroll;
}

.Card-Long-Details-Info::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  
  /* Handle */
.Card-Long-Details-Info::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
.Card-Long-Details-Info::-webkit-scrollbar-thumb:hover {
    width: 10px;
  }

.Notes {
    min-height: 25% ;
    max-height: 25%;
}