.Rolodex-List-Container {
    width: 25%;
    height: 100%;
    border-right: 1px solid #888;
    background: linear-gradient(#003DA4, #0093D5);
}

.Rolodex-List-Header {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 1rem;
    justify-content: flex-end;
    align-items: center;
    background-color:#fbfbfb;
}

.Rolodex-List-Header-Title {
    width: 70%;
    text-align: center;
    font-weight: 700;
}

.Rolodex-List-Header-AddButton {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;   
}

.Rolodex-List-Header-AddButton img {
    width: 35px;
    height: 35px;
}

.Rolodex-List-Search-Container {
    width: 100%;
    height: 7.5%;
    display: flex;
    padding-top: 0.3rem;
    align-items: center;
    justify-content: center;
}

.Rolodex-List-Search-Container label {
    display: none;
}

.Search-Input-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 1rem;
    padding: 1rem 0.8rem 0rem 0.8rem;
}

.Search-Input-Container input{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #003288;
    color: #92aad2;
}

.Search-Input-Container input::placeholder {
    color: #92aad2;
}

.Rolodex-List-Search-Container input:focus {
    outline: none;
}

.Search-Cancel {
    width: 12%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search-Cancel img {
    width: 35px;
    height: 35px;
    background-color: transparent;
}

.RolodexCards-Container {
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* width */
.RolodexCards-Container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  
  /* Handle */
.RolodexCards-Container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
.RolodexCards-Container::-webkit-scrollbar-thumb:hover {
    width: 10px;
  }